@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navClass {
    @apply font-barlow font-semibold hover:text-[#ff4838] duration-300
}

.bg-footerBg{
background-image: url("./assets/footer-bg.jpg");
}

.bg-bannerBg{
    background-image: url("./assets/bannerBg.jpg");
}
.bg-loginBg{
    background-image: url("./assets/loginBg.jpg");
}
.bg-registerBg{
    background-image: url("./assets/registrationBg.jpg");
}

.bg-ourSuccessReport {
    background-image: url("./assets/successReportBg.jpg");
}

.bg-clientSay{
    background-image: url("./assets/clientSayBg.jpg");
}